* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.city {
  width: 1730px;
  height: 830px;
  position: absolute;
  bottom: -160px;
  animation: city-animation 5s infinite linear;

  background: url('./assets/city.png');
  background-repeat: repeat-x; 
}

.game-canvas {
  width: 760px;
  height: 530px;
  border: 1px solid red;
  margin: 0 auto;

  position: relative;
  overflow: hidden;
  
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.runner {
  width: 300px;
  position: absolute;
  bottom: 0px;
}

.barrier {
  position: absolute;
  bottom: -50px;
  width: 280px;
  
  animation: barrier-animation 2s infinite linear;
}

@keyframes barrier-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes city-animation {
  from {    
    right: -1730px;
  }

  to {   
    right: 620px;
  }
}