* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

.barrier {
  position: absolute;
  bottom: -50px;
  width: 250px;
  animation: barrier-animation 2s infinite linear;
}

.city {
  width: 1730px;
  height: 830px;
  position: absolute;
  bottom: -160px;
  animation: city-animation 5s infinite linear;

  background: url('./assets/city.png');
  background-repeat: repeat-x; 
}

.city-over {
  background-color: red;
  width: 760px;
  height: 530px;
  transition: background-color 3s;  
}

.game-over {
  align-self: center;
  position: absolute;
  font-size: 60px;
  opacity: 0;

  margin-top: 150px;
  transition: opacity 2s linear;
}

.game-canvas {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;  
  
  width: 760px;
  height: 530px;
  border: 1px solid red;
  margin: 0 auto;

  background: linear-gradient(to top, #2c3e50, #fd746c);
}

.jump {
  animation: jump 600ms ease-out;
}

.runner {
  width: 280px;
  position: absolute;
  bottom: -40px;
}

.score {
  align-self: center;
  position: absolute;
  font-size: 30px;
  margin-top: 10px;

  color: aliceblue;
  z-index: 1;
}

@keyframes barrier-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes city-animation {
  from {    
    right: -1730px;
  }

  to {   
    right: 620px;
  }
}

@keyframes jump {
  
  0% {
    bottom: 0;
  }

  40% {
    bottom: 230px;
  }

  50% {
    bottom: 230px;
  }

  60% {
    bottom: 230px;
  }

  100% {
    bottom: 0;
  }

}