* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.city {
  width: 1730px;
  height: 830px;
  position: absolute;
  bottom: -160px;
  animation: city-animation 5s infinite linear;

  background: url('./assets/city.png');
  background-repeat: repeat-x; 
}

.game-canvas {
  width: 760px;
  height: 530px;
  border: 1px solid red;
  margin: 0 auto;

  position: relative;
  overflow: hidden;
  
  background: linear-gradient(to top, #2c3e50, #fd746c);
}

.runner {
  width: 300px;
  position: absolute;
  bottom: 0px;
}

.barrier {
  position: absolute;
  bottom: -50px;
  width: 250px;
  
  animation: barrier-animation 2s infinite linear;
}

.jump {
  animation: jump 600ms ease-out;
}

@keyframes barrier-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes city-animation {
  from {    
    right: -1730px;
  }

  to {   
    right: 620px;
  }
}

@keyframes jump {
  
  0% {
    bottom: 0;
  }

  40% {
    bottom: 230px;
  }

  50% {
    bottom: 230px;
  }

  60% {
    bottom: 230px;
  }

  100% {
    bottom: 0;
  }

}